body{
    font-family: Georgia,Times,Times New Roman,serif; 
    background-color: whitesmoke;
    margin:0%;
}
h1{
    font-size: 50px;
    color: rgb(40, 45, 61);
}
.orange-highlight{
    color: rgb(247, 93, 66);
}
.ash-highlight{
    color: rgb(97, 97, 97);
    font-weight:  800px;;
}
.Section{
    width: 40%;
    float: left;
    padding-left: 7%;
} 


    
.Section img{
    height: 100%;
    width: 100%;
    margin-right: 15%;
}
.Section #Des{
    margin-top: 50%;
    margin-bottom: -30px;
}
.Section p{
    width: 70%;
}
.Hired-Btn{
    background-image: linear-gradient(15deg,rgb(219, 122, 110),rgb(233, 45, 12) );
    border:none;
    color: rgb(255, 255, 255);
    border-radius:1mm;
    font-size:15px;
    text-decoration: none;
    padding: 10px 20px;
}


.First-Section{
    height: 650px;
}

.First-Section .Section #Des{
    font-size: 60px;
}
.First-Section .Section .orange-highlight{
    font-size: 56px;
}

.Second-Section{
    height: 700px;
    padding-bottom: 5%;
}
.Second-Section .Section {
    padding-top: 90px;
}

.Second-Section .Section .Cv-Des{
    margin-left: 30%;
}

.Second-Section .Section .Cv-Des #Des{
    margin-bottom: 30px;
}


.Third-Section{
    background-color: rgb(223, 223, 223);
    height: 900px;
}
.Third-Section .First-Part{
    text-align:center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.Third-Section .Second-Part{
    background-color: rgb(248, 248, 248);
    float: left;
    margin-right: 3%;
    margin-left: 5%;
    border-radius: 5%;
    height: 437px;
    width: 427px;
}
.Third-Section .Third-Part{
    background-color: rgb(248, 248, 248);
    float: left;
    margin-right: 3%;
    border-radius: 5%;
    height: 437px;
    width: 427px;
}

.Third-Section .Forth-Part{
    background-color:rgb(248, 248, 248);
    float: left;
    margin-right: 3%;
    border-radius: 5%;
    height: 437px;
    width: 427px;
}

.LatestImg1{
    height: 260px;
    width: 367px;
    margin-top: 5%;
    margin-left: 7%;
    margin-bottom: 5%;
}
.LatestImg2{
    height: 307px;
    width: 367px;
    margin-left: 5%;
}
.LatestImg3{
    height: 307px;
    width: 367px;
    margin-left: 6%;
}
h3{
    padding-left: 11%;
    font-weight: bolder;
    color: rgb(46, 24, 102);
}
.Third-Section p{
    width: 80%;
    padding-left: 11%;
}


.Forth {
    position: relative;
    text-align: center;
    color: white;
  }
.Forth img{
      width: 60%;
      height: 40%;
      padding-top: 10%;
     
  }
  .forth-left {
    position: absolute;
    top: 59%;
    left: 26%;
  }
  .forth-left h1{
     font-size: 40px;
     color: white;
  }
  .forth-right {
    position: absolute;
    top: 72%;
    left: 66%;
  }


  .Fifth-Section .Fifth-First{
      text-align: center;
      margin-top: 6%;
      font-size: 20px;
      color: rgb(119, 119, 119);
  }

  .Fifth-Section .Fifth-Second{
    text-align: center;
    font-size: 30px;
}

.Fifth-Section .Fifth-Img1{
    position: absolute;
    left: 45%;
    height: 5%;
    padding-bottom: 3%;
}
.Fifth-Section .Fifth-Img2{
    position: absolute;
    left: 49%;
    height: 5%;
}
.Fifth-Section .Fifth-Img3{
    position: absolute;
    left: 53%;
    height: 5%;
}
